In [1]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Install packages here
# Packages for data processing
import numpy as np
import pandas as pd
import datetime
from sklearn import preprocessing
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
from scipy.sparse import csr_matrix
import scipy as sp


# Packages for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Packages for modeling
from surprise import Reader
from surprise import Dataset
from surprise import KNNWithMeans
from surprise import KNNBasic
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import CoClustering
import heapq

# Packages for model evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from time import time

# Package to suppress warnings
import warnings
warnings.filterwarnings("ignore")

# Packages for saving models
import pickle

In [35]:
#Movies dataframe
movies_df = pd.read_csv('movies.csv')

#Genome_scores dataframe
gs_df = pd.read_csv('genome_scores.csv')

#Genome_tags dataframe
gt_df = pd.read_csv('genome_tags.csv')

#imbd dataframe
imdb_df = pd.read_csv('imdb_data.csv')

#links dataframe
links_df = pd.read_csv('links.csv')

#tags dataframe
tags_df = pd.read_csv('tags.csv')

#train dataframe
train_df = pd.read_csv('train.csv')

#test dataframe 
test_df = pd.read_csv('test.csv')

#sample submission
sample_df = pd.read_csv('sample_submission.csv')

In [36]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate


df = pd.DataFrame(train_df)
del df['timestamp']


# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(0, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['userId', 'movieId', 'rating']], reader)# The columns must correspond to user id, item id and ratings (in that order).

In [41]:
from surprise import SVD
from surprise import Dataset
from surprise import accuracy
from surprise.model_selection import train_test_split

# sample random trainset and testset
# test set is made of 25% of the ratings.
trainset, testset = train_test_split(data, test_size=.0001, shuffle = False)

# We'll use the famous SVD algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

RMSE: 0.8148

0.8148172565284908

In [42]:
test_df.loc[:, 'rating'] = 0

In [43]:
test_df.head()

   userId  movieId  rating
0       1     2011       0
1       1     4144       0
2       1     5767       0
3       1     6711       0
4       1     7318       0

In [44]:
test_processed = Dataset.load_from_df(test_df[['userId','movieId','rating']], reader)

In [45]:
NA, test = train_test_split(test_processed, test_size=1.0)

In [46]:
predictions = algo.test(test)

In [47]:
est = [i.est for i in predictions]

In [48]:
est

[4.081624723761429,
 3.791418532044957,
 4.614292336535632,
 3.6329623474536747,
 4.308072244186521,
 3.2446026688939558,
 3.910857359458228,
 4.169392644797643,
 4.304579381805164,
 4.239105961092612,
 2.8831342525870087,
 3.7752574420536633,
 3.4540655782171528,
 3.428664653493066,
 3.1442754053704545,
 4.216493632352619,
 3.898252342215496,
 3.912720645647589,
 3.666109414763215,
 4.052325394721807,
 3.465103503767712,
 3.3101963360561424,
 4.6386090647921865,
 2.867573485107582,
 4.088909411411101,
 2.934354802980186,
 2.8436198892824733,
 4.545223933161224,
 3.0592762081655795,
 3.1823845461293994,
 4.07341626686941,
 2.402782792330872,
 3.2758834431248895,
 4.442055516834044,
 3.8841462196176186,
 4.114038548500045,
 3.8258588657279673,
 4.54152828942442,
 3.6287994017527354,
 3.4996639097674107,
 4.025073197945181,
 2.8771421807169384,
 3.1887662390653033,
 4.599095059030285,
 3.586961171640416,
 3.516946308939514,
 3.9683984076260646,
 3.4790624159201284,
 3.149561162432797,
 3.564803199901709,
 4.075169277242785,
 4.239605005541099,
 4.315675155660807,
 2.943599172766289,
 3.747716694713898,
 4.042741549789744,
 4.0349470158198635,
 4.325114460358498,
 4.265064011839351,
 3.5147528101968533,
 2.6555271333560624,
 4.09170329633835,
 2.2751857523221206,
 3.8340220118299615,
 3.678718454433838,
 4.178794954090226,
 4.333597647523725,
 3.634901467004529,
 2.7971408955454664,
 3.5615286141842244,
 4.066123589588819,
 4.026976292758121,
 2.914319443778712,
 3.789035482765749,
 5,
 4.098286773444812,
 4.25126671606134,
 3.6144142456779424,
 3.528285289463196,
 3.3035793496505077,
 3.7472753442769777,
 3.9797226458253,
 3.8631847867405846,
 2.9145047413757745,
 3.951115293400984,
 2.6097034309746143,
 3.9552209646090892,
 4.568910865735593,
 3.870599810386354,
 4.600629060562763,
 3.702400382339184,
 3.64879856909727,
 4.501757096678547,
 2.7868170275597803,
 3.3894024404297345,
 3.7320588993395587,
 3.563957165576008,
 2.9693405168068425,
 3.4063643544698565,
 3.3006278949224908,
 3.011797359483848,
 3.212089603307294,
 1.2905086898491687,
 3.8074715145111053,
 3.7742499000826313,
 4.310270402232638,
 3.8652571578559702,
 4.101674914645314,
 4.002612938219929,
 3.541929209500099,
 4.414152725307227,
 1.524388474391352,
 4.084258591601288,
 3.4547009542098723,
 3.7136830005403225,
 4.3854458442935265,
 1.941136752303399,
 4.115855557137584,
 3.2738647164784966,
 3.546431136662471,
 2.513779630531687,
 3.9783520238732772,
 3.9979016165927397,
 3.2687481163708387,
 4.120425261695088,
 3.5212019520093536,
 3.556506197392233,
 3.9984432039064806,
 3.410597719405782,
 4.081719022997301,
 3.15560502198034,
 2.418500301975995,
 3.626857787324826,
 4.406276764701099,
 5,
 4.914841849748514,
 3.9958443279429825,
 1.5065290276639085,
 2.9936053911116653,
 3.135822535466913,
 3.6761613540271183,
 3.1467568801974055,
 2.573614065730777,
 3.74761873031267,
 3.939843989848038,
 4.305669005353696,
 2.8043119707052755,
 4.5795656832482114,
 4.449300339153222,
 3.4542876461576606,
 4.006794083161969,
 3.5954443106126464,
 2.7981684414305494,
 4.426029317303444,
 3.5448792193425205,
 4.04096044335415,
 2.906403828591484,
 2.5592279282031027,
 2.7109657547505184,
 0.5238298630155245,
 3.639646180267795,
 3.582694145401287,
 2.9742481395533633,
 4.336106368217391,
 3.7252751538126407,
 4.336687626071929,
 3.8060557548134177,
 4.112802175454282,
 3.6162219269188447,
 2.983862917175104,
 3.678241763233596,
 2.9257611692358343,
 3.7407082047961424,
 3.8631120600843354,
 3.6447221607470297,
 3.188776987807895,
 2.521841240595021,
 3.0780048849272985,
 3.694642276219407,
 3.8011375249934374,
 3.5899613852898034,
 4.166931100158397,
 3.6180049369376017,
 3.526080185559831,
 3.0149017031288863,
 4.056422127185967,
 3.1219674071844055,
 3.301255561243927,
 3.5001307751687607,
 3.327791533805885,
 2.90178731957922,
 3.5991936132510367,
 3.889755387534952,
 3.912808200321045,
 2.9799986901972826,
 3.5982183315854823,
 3.8039652601292127,
 3.5842896265785207,
 3.700719575700434,
 3.6186050683370663,
 2.8276862709478965,
 2.781601179065541,
 4.009329150853661,
 1.0789674678395782,
 4.045237042604505,
 3.744689453674648,
 4.091005240840721,
 3.785244912168715,
 3.689035121626292,
 4.197359461245313,
 3.9998339481632796,
 4.229809271182701,
 5,
 3.6306100435634145,
 3.74438892030064,
 3.7456491430742425,
 3.684029618297338,
 3.5894474579984275,
 3.038382005800394,
 4.011471267979322,
 2.2199962354664358,
 3.5954325122811763,
 3.8358770268106372,
 3.8908013910145596,
 3.263321405230132,
 3.4669184145033807,
 3.676889857028831,
 4.5321207781947725,
 4.127192515841272,
 3.5725986499295,
 4.508630105973193,
 3.750888298874028,
 3.345426901121796,
 3.441338784092666,
 2.4413793882832517,
 3.6538767938851318,
 3.857564299422126,
 3.0712736626091774,
 2.775189141524571,
 3.614631141718247,
 3.0731955427880977,
 3.6478247253864424,
 4.014805021792093,
 4.849823448423955,
 3.8889347184189487,
 3.208349060582791,
 3.232062736203205,
 3.8362002499868337,
 4.035467796530194,
 2.9953025353938774,
 4.192392978044644,
 4.06602717463229,
 3.3825036631989005,
 2.964739045290401,
 3.636340987303601,
 4.250583618861977,
 2.5056522190655035,
 4.38540048434642,
 2.294505051732367,
 3.584206663006924,
 3.148993192511086,
 3.5154642539934944,
 4.068548712286327,
 3.4912259582199097,
 3.976948343818892,
 3.5677997081551007,
 3.5233368524972866,
 3.3244829557688345,
 3.879289139892133,
 2.339474661574361,
 3.6930332776826305,
 2.256673674161033,
 2.665255085294169,
 4.268552393081328,
 3.335087843806186,
 3.2881947869415096,
 4.928504308776836,
 3.682658392453306,
 3.3031358412538756,
 3.649714912959937,
 3.8319505022436204,
 3.1646619278091226,
 3.2170874174586754,
 2.6414926264918366,
 2.7719155322085176,
 3.530396561843977,
 3.9845160827649324,
 4.530203548335371,
 3.648539527741696,
 4.230013496764665,
 3.8512443991993366,
 3.069674773301839,
 3.5546965424511234,
 3.1279474893766226,
 4.017160018147559,
 3.6196069092398684,
 3.630449725363994,
 3.695968235307002,
 3.908086116955418,
 2.8284640428669783,
 2.8024956640377674,
 2.3617499902230716,
 4.512746823886244,
 4.3145435292155465,
 3.359537989609284,
 4.2576829257766615,
 4.2258819717045935,
 3.5679407909027376,
 3.866211667899866,
 3.2910845295852336,
 4.347810450697747,
 2.851737083111865,
 4.194323897139022,
 4.047220923131892,
 3.4229497242053153,
 3.089419703212783,
 4.444507848172599,
 3.6520214505360773,
 3.6230362793438777,
 4.5129789502116395,
 4.505624059642658,
 3.3088977944380566,
 3.5954382119792814,
 3.0494045025796743,
 3.5232886173803406,
 2.9467417946841064,
 3.4078786073442178,
 3.424762453466584,
 3.9771696210626786,
 2.9318467283867076,
 3.910477248219049,
 2.4634652897987235,
 3.8087734341835335,
 3.039952336275032,
 3.9059844082920483,
 2.6090343527580178,
 4.1228292029739375,
 3.218398297118826,
 3.404503508458477,
 1.2443098456725559,
 4.14858610884504,
 3.852665189694731,
 1.6784184964583722,
 4.510471730970204,
 2.8418876531132895,
 4.091880072714913,
 3.1435942478030507,
 3.493579182392177,
 4.437620188989449,
 3.395177934886012,
 3.6803566757118267,
 3.5480245095936027,
 4.183287362647495,
 1.744119462449592,
 3.7022087670902253,
 3.8240769398306838,
 4.32594421751927,
 3.005542386957804,
 3.0280080565476455,
 3.331564992835007,
 3.159380590956053,
 1.814308923768348,
 2.207404918454696,
 4.14906226254235,
 3.35209262447525,
 3.9391989136749364,
 3.8736044528541256,
 3.41066897926976,
 4.109685180843737,
 3.9634411801614573,
 4.040585055074914,
 3.4170523532303925,
 3.7586712749431173,
 3.5816172235401216,
 2.9676761621487406,
 4.030397801818965,
 3.735234288758758,
 2.972932248975361,
 3.573492245119332,
 3.2204932700482862,
 3.2546069261155406,
 3.9940162818140497,
 4.566670702951899,
 4.595173384392008,
 4.705839191352664,
 2.8314740096209943,
 2.7153761982082933,
 3.586840703975291,
 3.195034610232517,
 3.4302012852647303,
 3.8404619927636308,
 4.350357015658123,
 3.0756552041048097,
 3.9633650178898727,
 4.023025228970594,
 2.9103785793493984,
 4.160539415755925,
 2.92918942130881,
 3.963492622659952,
 3.791832542947557,
 3.122497358915251,
 2.5973026382470086,
 4.33016848777582,
 4.062770512788603,
 2.889620361093628,
 4.31327601609965,
 3.4675389573975015,
 2.232345369327473,
 1.9547581084426129,
 4.507024672017105,
 3.7705141423183646,
 2.949931925882271,
 4.238255305040683,
 3.605254537509428,
 4.643807354354024,
 3.5515599753090257,
 2.839400390868677,
 2.621307423945461,
 3.6277793359525505,
 3.273947518409473,
 4.408108594230125,
 3.003954444676779,
 3.499618942264349,
 3.286385059007706,
 4.643695794169025,
 3.148664513402959,
 3.284362081950937,
 3.800253682674452,
 1.898557221008652,
 3.7346592066806217,
 4.36374511730336,
 3.7076348302125695,
 2.165069938962942,
 4.177364730057325,
 3.5232804651599507,
 4.376434118666503,
 3.5033082724973665,
 4.474426981479832,
 3.481423087288158,
 2.7306395239179055,
 2.196811216162071,
 1.411615596806707,
 3.9439541097955653,
 3.2971090115893267,
 4.170187470335772,
 3.5797962852610987,
 4.117420688732489,
 3.2799167056185827,
 4.251094496306819,
 3.287151133745143,
 4.356251072485459,
 3.4843129066937055,
 4.184390469145916,
 4.599858255234449,
 4.506835375025634,
 3.082009701933056,
 2.7173943021183184,
 3.6260615675369845,
 3.8204862094211616,
 3.352681499863137,
 3.8456486196438,
 4.055135071359116,
 3.5991033219369535,
 4.358543208917286,
 3.3746375274004117,
 4.545206364340162,
 4.031297837302056,
 3.7837344920881755,
 3.0264723318175273,
 1.9675482775749136,
 3.1269702875378975,
 4.269200065771981,
 3.4895184835357607,
 4.266980308155977,
 2.7771210453555755,
 3.65468999575664,
 3.8231078719970224,
 3.647633356587696,
 3.022059152077728,
 2.747519211374534,
 4.284801127902103,
 3.336779523750202,
 2.893651671839445,
 3.7439048999039755,
 2.926904044978217,
 3.799495372775987,
 3.3584987495871004,
 2.5030942383868076,
 3.9119153004505867,
 3.937309762392433,
 3.816356588254548,
 3.0603060379510563,
 0.9895026460209041,
 4.266387681196454,
 2.9838486331241403,
 4.187430163522236,
 2.7834633811514777,
 4.276953195981744,
 4.217417474131106,
 3.6707682200686698,
 4.224185102962545,
 3.421943763069268,
 2.8497807226496894,
 3.0910844796101538,
 3.707155466979222,
 2.0625066460338615,
 3.9572916752234204,
 3.23910342865585,
 3.4746307825273037,
 2.4774428030627984,
 3.39393520226607,
 3.0478772085610646,
 3.702536781929149,
 3.808643907408895,
 3.8277580446524,
 4.443167649420486,
 2.944145261103437,
 3.271327964712139,
 2.5483158579060388,
 3.769554229418051,
 3.4123407147793907,
 2.822863348726939,
 3.5891671550929503,
 3.816288412540906,
 3.251896545864495,
 2.887552440622786,
 3.5599105112682303,
 4.473699510334212,
 4.586184731268787,
 3.9937869432233812,
 3.5821189628144294,
 3.286957260170276,
 4.786383440979246,
 2.7864599165815136,
 3.873913320693286,
 3.080764715427904,
 3.994438115796804,
 4.3288062825491185,
 2.564901077976903,
 3.2439811313165583,
 3.8368417992423516,
 2.388650740389592,
 3.8577518444535026,
 5,
 3.7017064067946444,
 2.746581986537601,
 3.400419614430455,
 4.160323806658205,
 4.6823631002855715,
 3.5618566957292512,
 4.52533666272574,
 3.9639960196684245,
 4.971693157989799,
 3.5002461721017912,
 3.2460756689531562,
 3.709427953814008,
 3.101879396692229,
 4.044567973719668,
 3.8355973588481524,
 3.283360202432562,
 3.057685612698806,
 4.690787167091485,
 3.310258022248952,
 2.9549669693909437,
 4.124944058308952,
 2.8234750458032405,
 3.2667165361607045,
 3.1101410890348764,
 3.066046975051838,
 3.704552689964999,
 3.6144237608002467,
 3.6905708848745364,
 3.3783719856389736,
 3.0907926323083754,
 3.7242456643374044,
 2.4545675101106887,
 4.566562133331043,
 3.226327209283921,
 2.946865382742646,
 2.8989626825062356,
 3.4994593843311472,
 3.8093391419941467,
 3.7404838958058204,
 3.1898461324291922,
 3.5840540921561206,
 3.181477424692853,
 1.517239040925375,
 3.961853329830551,
 3.6901987121901345,
 3.742943240072197,
 3.7430154899211705,
 3.316012103755614,
 3.8226956207929352,
 3.657517112993439,
 3.393506322503432,
 3.9823749718789374,
 4.56131139436096,
 2.974385633086246,
 4.143298830249655,
 4.133593140462624,
 3.1697479392949854,
 3.460900143148754,
 3.953395858101962,
 3.9135396790677,
 4.28616408629577,
 3.650556088536491,
 3.5331599722530345,
 2.2946740666665235,
 4.058472118958085,
 3.7904250976615272,
 3.7204405539485172,
 3.6173976590713597,
 4.6904430958914345,
 3.762733933899862,
 2.326312384781494,
 3.968450780957035,
 4.0010770629060985,
 3.781552003508108,
 3.89673410907356,
 3.159888684516888,
 3.219384682834301,
 4.651185873570887,
 2.988320659331858,
 3.80548161111761,
 3.391584390752034,
 4.241187318885486,
 3.42028306758397,
 3.0153174923877137,
 3.6882863195058597,
 1.6606403522319717,
 3.2170154962393105,
 4.614057702468385,
 4.46147608834497,
 4.250667065827816,
 2.896584577077746,
 3.431328590194381,
 3.1520471016919944,
 3.647163868966807,
 4.154943744818132,
 2.590792126970721,
 4.06095852897514,
 3.242387977962224,
 3.1844819731219,
 4.500996121270428,
 3.9752067370849082,
 4.883525412999964,
 3.53913391762942,
 4.415696850887949,
 3.79280885858216,
 4.1217027792046155,
 4.181992547543691,
 3.616102082360535,
 2.974787893042722,
 4.363211466669457,
 2.9336284689236654,
 4.022240968017263,
 3.3083439524665295,
 4.1403485484729075,
 1.6607742218862018,
 3.544401068291466,
 4.377567635547236,
 4.38345589420875,
 4.194035047244784,
 3.9683357914890642,
 2.9270366127751246,
 4.470955747074601,
 3.3051372942566357,
 3.5575060262214486,
 3.039393648264934,
 4.323669755838797,
 2.7842071047403656,
 3.0209319736689713,
 3.5621234470820737,
 3.5929280696282895,
 4.171151963370344,
 1.274006575864286,
 3.905045032958669,
 3.3893772051536377,
 2.7088281546048063,
 4.429353953162351,
 4.5547407971249285,
 2.7055188157847185,
 2.6681792235790547,
 3.5727091567177958,
 3.9380061592767914,
 2.780079071456509,
 4.412094781553965,
 4.124688459430915,
 2.7775151403921723,
 3.8162419521458237,
 3.816419846718584,
 3.7454101583505572,
 2.117551490596453,
 3.8919643868982714,
 3.567711811876971,
 4.30184411236957,
 3.70511479958858,
 3.0644207788295588,
 3.616507496697076,
 3.6583814724852917,
 3.0442431637432286,
 2.370584721123957,
 4.07253876887839,
 2.6131045597507723,
 4.108260254252179,
 3.8383101470583227,
 2.821338904753337,
 4.004559679019661,
 3.1784427619412323,
 3.2529857324609504,
 3.352837452625596,
 2.6036042420714014,
 3.048427982924156,
 4.289177349201932,
 3.448101612284993,
 2.506109922535544,
 3.328925122116934,
 2.818972660769701,
 4.313028434302013,
 3.098231957379199,
 3.9843630761696573,
 3.5747615309582095,
 3.204362662137797,
 3.143824572879771,
 2.908723597359948,
 1.9059625884410663,
 3.690365489080183,
 2.8826481268869006,
 2.4546990448132333,
 3.6592663597524115,
 4.048843039859508,
 3.848627259342745,
 2.406236330350642,
 3.5633612656968965,
 3.726710130899455,
 4.485834344576994,
 4.036815513736319,
 4.242951111617878,
 3.8299523606971504,
 3.474373908371343,
 3.3475606968634937,
 3.730566569363347,
 3.50765048722778,
 2.55354769243314,
 2.2192812284277865,
 4.332603174618745,
 3.4451596899973707,
 3.272504546770161,
 3.52281807458041,
 3.4242900046643308,
 4.5675002549129005,
 3.359190459149786,
 4.086699653814272,
 3.147728056068267,
 2.0985104858487453,
 4.306455553802801,
 4.476440295441201,
 3.4218590163897034,
 3.2898232693812735,
 3.7884320453959086,
 2.8585651183869714,
 3.7221818685759933,
 2.9868354089623503,
 4.000996087571292,
 4.584702434045597,
 3.845273972581863,
 2.8704734266137066,
 2.325492115029419,
 2.7362055659219213,
 3.9046140160911698,
 3.449122973801521,
 4.593609137226538,
 3.6165464230064694,
 3.34287385404352,
 2.745363780921675,
 1.5548086842683109,
 2.7015641779869193,
 2.8072110563591943,
 3.5969848026090454,
 3.48368422368487,
 4.374101322822245,
 4.255916598944634,
 1.2890064976871922,
 3.0252170070991875,
 3.548395004175198,
 4.4023799779853094,
 4.6716529771758495,
 4.0570028450181095,
 3.66308023260399,
 3.7641189565166995,
 3.5900422438333583,
 3.9048928160415555,
 4.4955265509475835,
 3.8333460398546233,
 3.8078588370902,
 3.398096414515438,
 3.5010200054079696,
 3.4680924641720097,
 3.30113344736104,
 4.3426270559913265,
 2.9029595125784016,
 3.8331290739786104,
 3.5887708455152536,
 2.8361837385213144,
 3.5692562840102293,
 2.4034117081401125,
 2.8880101055397116,
 3.429566035666112,
 4.282571776312908,
 1.359181869182794,
 3.8756515590337286,
 3.4289688445270086,
 2.603012733800767,
 3.4525109298471506,
 2.50255737913592,
 3.260063515646407,
 3.4582394797894738,
 3.9426532919222796,
 4.808968700353231,
 2.823789585246253,
 3.4573013706002533,
 3.208168503768459,
 3.974999338849198,
 2.379782597129483,
 3.166495149974314,
 3.6606182108023755,
 4.210878962945587,
 3.235367932305837,
 4.210070026012029,
 4.223417080961229,
 3.8601025075934112,
 4.147533741790592,
 3.214035251338309,
 4.026920735344505,
 4.058190307982906,
 3.3297228942723494,
 4.42802285263982,
 3.554394114159417,
 3.5975085022253412,
 3.4155150651982837,
 2.8279097829832063,
 2.5355155529670026,
 3.2718010624395024,
 2.820817315830221,
 4.72010889202871,
 0.9791041965869667,
 2.98968931038401,
 4.362668644268229,
 3.31288231126986,
 2.5534177957653315,
 3.863764933606556,
 2.846324992973355,
 3.165397851612802,
 3.2218022044688777,
 4.047978970623693,
 4.4130345150957355,
 3.986689503238841,
 4.136720983693686,
 4.126672742024605,
 3.3622966109796644,
 3.300950425153914,
 3.9240823858590996,
 4.0584185463407465,
 3.4492522285197778,
 4.429667389367576,
 3.842229344697828,
 3.6686266190318584,
 3.4378019657344714,
 2.238075695236545,
 3.6935140384980074,
 3.6502276003044494,
 3.8305891679002877,
 4.441523651308408,
 3.138281985923353,
 3.746891851081851,
 4.068008340238565,
 2.5032558412726282,
 2.816622276455858,
 3.8719466628416055,
 3.596296753215647,
 3.7708435578296293,
 4.232049894592811,
 4.203356472160678,
 3.820953019248687,
 3.8326930952820506,
 3.7532020320040393,
 4.613142117716195,
 3.0637857282688663,
 1.781126027047098,
 3.5006401291819573,
 3.763709050072497,
 3.8441427222406688,
 3.767498977203425,
 3.409660231868186,
 3.9453301506356673,
 3.7693664122926855,
 5,
 3.624438194775886,
 2.2293330414067336,
 3.7574786529799833,
 3.517141306901824,
 2.126591314795631,
 3.7802191114367267,
 3.7870827512390717,
 4.192795011971274,
 4.5327918735706385,
 4.25229887521119,
 3.850524757361725,
 4.443470107895026,
 3.8342919115981577,
 3.4055570805426565,
 3.4670800186955972,
 3.473827453147562,
 4.381477980950377,
 3.558230350043322,
 3.4039142514767424,
 3.187260004161276,
 3.4045475067971926,
 3.639191318218505,
 3.9610794637909548,
 4.248845009358422,
 2.596479119850992,
 4.467144969609581,
 4.553231083771318,
 4.595921000083765,
 3.6109788420974045,
 4.17302093727483,
 0.7665438999129071,
 3.9562087974428115,
 3.99095491311306,
 3.00191823993177,
 3.350407518658995,
 3.3072006957799953,
 2.2257449373029043,
 3.666199037355751,
 4.933271571700466,
 4.473138263337051,
 3.9000190326432387,
 3.411842986052517,
 3.7338706428530974,
 3.331601060834159,
 3.6743697867475875,
 3.6472374891817005,
 3.5475982652222076,
 4.0390059496869775,
 2.812474214874858,
 4.9756937449055165,
 2.7304337186664576,
 3.5644796648048493,
 2.9304487677820856,
 4.070314400946763,
 3.1962935292768138,
 4.348636468135448,
 1.650875342333722,
 4.202239444868447,
 3.730145751655981,
 3.737448389930968,
 3.513447901750031,
 1.3121220756677894,
 4.200593172810281,
 4.671810865364992,
 2.6412367849199,
 3.7838200248155998,
 4.283903564786698,
 3.664919217996711,
 3.652418927475357,
 4.086201473616195,
 3.844038912480891,
 4.68507937224381,
 3.841051930569624,
 3.0915451902383966,
 3.5111790532327696,
 2.2193918394371277,
 2.9264055223670855,
 2.1897486957083774,
 4.636154523018702,
 4.191290974145261,
 3.9033877712899994,
 4.150517209387054,
 2.4486172672269633,
 2.1710747295615085,
 3.4382839875313316,
 3.2702763112998667,
 3.9989816911492913,
 3.174488069280182,

In [49]:
test_df.head()

   userId  movieId  rating
0       1     2011       0
1       1     4144       0
2       1     5767       0
3       1     6711       0
4       1     7318       0

In [50]:
del test_df['rating']

In [51]:
test_df['rating'] = est

In [53]:
test_df.head()

   userId  movieId    rating
0       1     2011  4.081625
1       1     4144  3.791419
2       1     5767  4.614292
3       1     6711  3.632962
4       1     7318  4.308072

In [54]:
test_df['Id'] = test_df['userId'].astype(str)  + '_'+ test_df['movieId'].astype(str)

In [55]:
test_df.head()

   userId  movieId    rating      Id
0       1     2011  4.081625  1_2011
1       1     4144  3.791419  1_4144
2       1     5767  4.614292  1_5767
3       1     6711  3.632962  1_6711
4       1     7318  4.308072  1_7318

In [56]:
del test_df['userId']
del test_df['movieId']
test_df['rating'] = est

In [57]:
test_df.head()

     rating      Id
0  4.081625  1_2011
1  3.791419  1_4144
2  4.614292  1_5767
3  3.632962  1_6711
4  4.308072  1_7318

In [58]:
df_reset= test_df.reset_index(drop=True)

In [59]:
df_reset

           rating           Id
0        4.081625       1_2011
1        3.791419       1_4144
2        4.614292       1_5767
3        3.632962       1_6711
4        4.308072       1_7318
...           ...          ...
5000014  3.035351  162541_4079
5000015  2.490605  162541_4467
5000016  3.882785  162541_4980
5000017  2.964222  162541_5689
5000018  2.916408  162541_7153

[5000019 rows x 2 columns]

In [60]:
test_df.reset_index(drop=True, inplace=True)

In [61]:
test_df

           rating           Id
0        4.081625       1_2011
1        3.791419       1_4144
2        4.614292       1_5767
3        3.632962       1_6711
4        4.308072       1_7318
...           ...          ...
5000014  3.035351  162541_4079
5000015  2.490605  162541_4467
5000016  3.882785  162541_4980
5000017  2.964222  162541_5689
5000018  2.916408  162541_7153

[5000019 rows x 2 columns]

In [28]:
test_df.to_csv('Baseline_submission_AE4.csv', index=False)

In [62]:
def custom_round(x, base=5):
    return base * round(float(x)/base)

test_df['ratings'] = test_df['rating'].apply(lambda x: custom_round(x, base=.5))

In [64]:
test_df

           rating           Id  ratings
0        4.081625       1_2011      4.0
1        3.791419       1_4144      4.0
2        4.614292       1_5767      4.5
3        3.632962       1_6711      3.5
4        4.308072       1_7318      4.5
...           ...          ...      ...
5000014  3.035351  162541_4079      3.0
5000015  2.490605  162541_4467      2.5
5000016  3.882785  162541_4980      4.0
5000017  2.964222  162541_5689      3.0
5000018  2.916408  162541_7153      3.0

[5000019 rows x 3 columns]

In [65]:
del test_df['rating']

In [66]:
test_df['rating'] = test_df['ratings']

In [67]:
test_df.head()

       Id  ratings  rating
0  1_2011      4.0     4.0
1  1_4144      4.0     4.0
2  1_5767      4.5     4.5
3  1_6711      3.5     3.5
4  1_7318      4.5     4.5

In [68]:
del test_df['ratings']

In [69]:
test_df.to_csv('SVD_full_train_rounded.csv', index = False)

In [73]:
test_df

                  Id  rating
0             1_2011     4.0
1             1_4144     4.0
2             1_5767     4.5
3             1_6711     3.5
4             1_7318     4.5
...              ...     ...
5000014  162541_4079     3.0
5000015  162541_4467     2.5
5000016  162541_4980     4.0
5000017  162541_5689     3.0
5000018  162541_7153     3.0

[5000019 rows x 2 columns]